<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Budget App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">      

</head>
<body>

        
  <nav class="teal">
    <div class="nav-wrapper">
    <div class="nav-wrapper brand-logo right">
        <a href="{% url 'budgetapp:modifier_utilisateur' %}" >modifier_utilisateur</a> ||
        <a href="{% url 'budgetapp:logout' %}" >Deconnexion</a> ||
        <a href="#" >{% block title %}{% endblock %}</a>
    </div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{%url 'budgetapp:liste_depense'%}">Liste de vos dépenses</a></li>
        <li><a href="{%url 'budgetapp:historique_depense'%}">Récapitulatifs</a></li>
      </ul>
      
    </div>
  </nav>
    <!-- Page Layout here -->
    <div class="container">


        <!-- Teal page content  -->
        {% block content %}

        {% endblock %}

    </div>

    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">WALLET MANAGER APP</h5>
          <p class="grey-text text-lighten-4">Projet Django/Python : Tracking des dépenses personnelles</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by DAR2k19-2k20
      </div>
    </div>
  </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>