{% extends 'budgetapp/dashboard/base.html' %}
{% block title %}Dashboard  {{ utilisateur.nom }}{% endblock %}
{% block content %}

<div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h4 class="header center teal-text text-lighten-2">Espace utilisateur - {{ utilisateur.nom }}</h4>
        <h1 class="header center teal-text text-lighten-2">Wallet Manager</h1>
        <div class="row center">
          <h5 class="col s12">an application that will help you manage your expenses</h5>
        </div>
        <div class="row center">
          <h5 class="col s12">This spreadsheet is a simple expense tracker or budget tracker. It lets you record your expenses</h5>
        </div>
        <div class="row center">
          <a href="{% url 'budgetapp:login'%}"  class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>
{% endblock %}